@model ATM.Models.Classes.Satici
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutSatici.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card" style="margin-left: 400px; margin-top: 150px">
                    <div class="card-header card-header-success">
                        <h4 class="card-title">Satıcı Ekle</h4>
                        <p class="card-category">evini satmak isteyen insanları ekle</p>
                    </div>
                    <div class="card-body">
                        @using (Html.BeginForm("SaticiEkle", "SaticiEkle", FormMethod.Post))
                        {

                            @Html.Label("İsim Soyisim")
                            @Html.TextBoxFor(x => x.nameSurname, new { @class = "form-control" })
                            <br />
                            @Html.Label("Telefon Numarası")
                            @Html.TextBoxFor(x => x.telephoneNo, new { @class = "form-control" })
                            <br />
                            @Html.Label("Adres")
                            @Html.TextBoxFor(x => x.adress, new { @class = "form-control" })
                            <br />
                            @Html.Label("Minimum Fiyat")
                            @Html.TextBoxFor(x => x.priceMin, new { @class = "form-control" })
                            <br />
                            @Html.Label("Maksimum Fiyat")
                            @Html.TextBoxFor(x => x.priceMax, new { @class = "form-control" })
                            <br />
                            @Html.Label("Not")
                            @Html.TextBoxFor(x => x.not, new { @class = "form-control" })
                            <br />
                            @Html.Label("Aktif")
                            @Html.CheckBoxFor(x => x.isActive, new { @class = "checkbox" })
                            <br />
                            <button class="btn btn-rose">Satici Ekle</button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>